<%- include('../partials/head'); -%>
<%- include('../partials/menu'); -%>
<%- include('../pages/errors/error_msg'); -%>
<%- include('../partials/edit-profile-model'); -%>

      <section class="section pt-4 pb-4 osahan-account-page">
         <div class="container">
            <div class="row">
               <!-----User side Navigation-->
               <%- include('../partials/side_navigation'); -%>
               <div class="col-md-9">
                  <div class="osahan-account-page-right shadow-sm bg-white p-4 h-100">
                        <div class="tab-content" id="myTabContent">
                         <div class="tab-pane show active" id="favourites-tab">
                           <h4 class="font-weight-bold mt-0 mb-4">Favourites</h4>

                        <% if (favourites.length > 0) { %> 
                            <div class="row">
                                <% for (let fav of favourites) { %>   
                                    <div class="col-md-4 col-sm-6 mb-4 pb-2">
                                        <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
                                            <div class="list-card-image">
                                            <div class="star position-absolute"><span class="badge badge-success"><i class="icofont-star"></i> 3.1 (300+)</span></div>
                                            <div class="favourite-heart text-danger position-absolute">
                                                <a href="#" class="remove_from_wishlist" data-id="<%= fav.rest_data[0].restaurant_detail[0]._id %>"><i class="icofont-heart"></i></a>
                                            </div>
                                            
                                            <a href="/restaurant/<%= fav.rest_data[0].restaurant_detail[0].slug %>">
                                            <img src="assets/images/<%= fav.rest_data[0].restaurant_detail[0].image %>" class="img-fluid item-img">
                                            </a>
                                            </div>
                                            <div class="p-3 position-relative">
                                            <div class="list-card-body">
                                                <h6 class="mb-1"><a href="/restaurant/<%= fav.rest_data[0].restaurant_detail[0].slug %>" class="text-black"><%= fav.rest_data[0].name %>
                                                    </a>
                                                </h6>
                                                <p class="text-gray mb-3"><%= fav.rest_data[0].restaurant_detail[0].cuisine_type %></p>
                                                <p class="text-gray mb-3 time"><span class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i class="icofont-wall-clock"></i> <%= fav.rest_data[0].restaurant_detail[0].minimum_order_time %></span> <span class="float-right text-black-50"> $350 FOR TWO</span></p>
                                            </div>
                                            
                                            </div>
                                        </div>
                                    </div>
                             <% } %>

                              
                       <% } %>
                       
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>


      <section class="section pt-5 pb-5 text-center bg-white">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h5 class="m-0">Operate food store or restaurants? <a href="https://askbootstrap.com/preview/osahan-eat/login.html">Work With Us</a></h5>
               </div>
            </div>
         </div>
      </section>
  
<%- include('../partials/footer'); -%>
<%- include('../partials/footer_script'); -%>
<script src="/assets/js/add_to_wishlist.js"></script>
<script src="/assets/js/common.js"></script>