<%- include('../partials/head') %>
<%- include('../partials/secure_menu') %>

      <%- include('../partials/login-model') %>
      <%- include('../partials/add-address-model') %>
      <%- include('../partials/signup-model') %>
      <%- include('../pages/errors/error_msg') %>

      <section class="offer-dedicated-body mt-4 mb-4 pt-2 pb-2">
         <div class="container">
            <div class="row">
               <div class="col-md-8">
                  <div class="offer-dedicated-body-left">
                     <div class="bg-white rounded shadow-sm p-4 mb-4">
                        <h4 class="mb-1">Account</h6>
                          <h6 class="mb-3 text-black-50">To place your order now, log in to your existing account or sign up.</h6>
                           <div class="input-group input-group-sm mb-2">
                              
                              <div class="input-group-append" style="padding: 0px 18px;">
                                 <% if (!isAuthenticated) {%>
                                    <a class="nav-link" href="#" role="button" data-toggle="modal" data-target="#login-model">
                                       <button class="btn btn-outline-danger btn-sm" type="button"><i class="fas fa-sign-in-alt"></i>  Login</button>
                                    </a> 
                                 <% } else { %> 
                                     
                                       Hello <%=session.name %> <%=session.mobile %> 
                                 <% } %>
                              </div>
                              <% if (!isAuthenticated) {%>
                                 <div class="input-group-append">
                                    <a class="nav-link" href="#" role="button" data-toggle="modal" data-target="#sigunp-modal">
                                       <button class="btn btn-outline-danger btn-sm" type="button"><i class="fas fa-sign-in-alt"></i>  Sign Up</button>
                                    </a> 
                                    <!--<button class="btn btn-outline-danger btn-sm" type="button"><i class="fas fa-sign-in-alt"></i>  Sign Up</button>-->
                                 </div>
                              <% }  %> 
                           </div>
                        
                     </div>
					 <div class="pt-2"></div>
					      <div class="bg-white rounded shadow-sm p-4 mb-4">
                        <h4 class="mb-1 text-black-50">Delivery address</h4>
                        <% if (isAuthenticated) {%>
                           <% if (delivery_add.length > 0) {  %>
                              <div class="row">
                              <% for (let address of delivery_add) { 
                                 
                                 if(address.default_address == 'yes'){
                                    var slected_class ="selected_delivery";
                                    var text ="Selected";
                                 } else {
                                    var slected_class ="fafsdf";
                                    var text ="DELIVER HERE";
                                 }
                                 
                                 %>
                                 <div class="col-md-6 _3p8Mf" style="cursor: pointer;" data-id="<%= address._id %>" >
                                       <div class="bg-white card addresses-item mb-4 border border-success <%=slected_class %>">
                                          <div class="gold-members p-4">
                                             <div class="media">
                                             <div class="mr-3"><i class="icofont-location-pin icofont-3x"></i></div>
                                             <div class="media-body">
                                                   <h6 class="mb-1 text-black"><%= address.address_type.toUpperCase() %></h6>
                                                   <p class="text-black"><%= address.address %> <br><%= address.landmark %>
                                                   </p>
                                                   <p class="mb-0 text-black font-weight-bold"><a class="btn btn-sm btn-success mr-2" href="javascript:void(0)"> <%=text %></a> </p>
                                                     
                                             </div>
                                             </div>
                                          </div>
                                       </div>
                                 </div>
                              <% } %>
                                 <div class="col-md-6">
                                    <div class="bg-white card addresses-item" style="height: 200px;">
                                       <div class="gold-members p-4">
                                          <div class="media">
                                             <div class="mr-3"><i class="icofont-location-pin icofont-3x"></i></div>
                                             <div class="media-body">
                                                <h6 class="mb-1 text-secondary">Add New Address</h6>
                                                <p>Click here to add new address
                                                </p>
                                                <p class="mb-0 text-black font-weight-bold" style="margin-top: 40px;"><a data-toggle="modal" data-target="#add-address-modal" class="btn btn-sm btn-primary mr-2" href="#"> ADD NEW ADDRESS</a> 
                                                </p>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div> 
                           <% } else { %>    
                                 <div class="col-md-6">
                                    <div class="bg-white card addresses-item" style="height: 200px;">
                                       <div class="gold-members p-4">
                                          <div class="media">
                                             <div class="mr-3"><i class="icofont-location-pin icofont-3x"></i></div>
                                             <div class="media-body">
                                                <h6 class="mb-1 text-secondary">Add New Address</h6>
                                                <p>Click here to add new address
                                                </p>
                                                <p class="mb-0 text-black font-weight-bold" style="margin-top: 40px;"><a data-toggle="modal" data-target="#add-address-modal" class="btn btn-sm btn-primary mr-2" href="#"> ADD NEW ADDRESS</a> 
                                                </p>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              <% } %>
                        <% } %>   
                     </div>
					 <div class="pt-2"></div>
                     <div class="bg-white rounded shadow-sm p-4 osahan-payment">
                        <h4 class="mb-1 text-black-50">Payment method</h4>
                        <%=delivery_add.length %>
                        <%if(isAuthenticated && delivery_add.length > 0){%>
                        <div class="row">
                           <div class="col-sm-4 pr-0">
                              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                 <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="icofont-credit-card"></i> Credit/Debit Cards</a>

                                 <a class="nav-link" id="v-pills-cash-tab" data-toggle="pill" href="#v-pills-cash" role="tab" aria-controls="v-pills-cash" aria-selected="false"><i class="icofont-money"></i> Pay on Delivery</a>
                              </div>
                           </div>
                           <div class="col-sm-8 pl-0">
                           <form name="place-order" action="/place-order" method="post" id="payment-form">
                              
                                 <div class="tab-content h-100" id="v-pills-tabContent">

                                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                          <p id="card-error" role="alert"></p>
                                          <div id="card-element"><!--Stripe.js injects the Card Element--></div>
                                          <br/><br/>
                                          <input type="hidden" name="Paymentmode" value="Card" />
                                    </div>
                                 
                                    <div class="tab-pane fade" id="v-pills-cash" role="tabpanel" aria-labelledby="v-pills-cash-tab">
                                       <h6 class="mb-3 mt-0 mb-3">Cash</h6>
                                       <p>Please keep exact change handy to help us serve you better</p>
                                       <hr>
                                    </div>

                                    <button class="btn btn-success btn-block btn-lg" type="submit">Place Order</button>
                                 </div>
                           </form>
                           </div>
                        </div>
                        <% } %>
                     </div>
                  </div>
               </div>
               
               <%- include('../partials/cart_side_navigation') %> 
            </div>
         </div>
      </section>
	  
	   
      <%- include('../partials/footer'); -%>
      <%- include('../partials/footer_script'); -%>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script type="module" src="/assets/js/checkout.js"></script>
      