<%- include('../partials/head'); -%>
<%- include('../partials/menu'); -%>
<%- include('../pages/errors/error_msg'); -%>
<%- include('../partials/login-model'); -%>
<%- include('../partials/signup-model'); -%>
      <section class="section pt-5 pb-5 osahan-not-found-page">
         <div class="container">
            <div class="row">
               <div class="col-md-12 text-center pt-5 pb-5">
                  <img class="img-fluid mb-5" src="https://askbootstrap.com/preview/osahan-eat/img/thanks.png" alt="404">
                  <h1 class="mt-2 mb-2 text-success">Congratulations!</h1>
                  <p class="mb-5">You have successfully placed your order</p>
                  <a class="btn btn-primary btn-lg" href="/orders">View Order :)</a>
               </div>
            </div>
         </div>
      </section>
      <section class="section pt-5 pb-5 text-center bg-white">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h5 class="m-0">Operate food store or restaurants? <a href="https://askbootstrap.com/preview/osahan-eat/login.html">Work With Us</a></h5>
               </div>
            </div>
         </div>
      </section>
      <%- include('../partials/footer'); -%>
      <%- include('../partials/footer_script'); -%>